body {
  background-color: #000;
  color: #EEE;
  font-family: Ubuntu, arial, serif;
  font-size: 18px;
}

#header-instructions {
  font-size: 12px;
  width: 600px;
}

.preview {
  position: absolute;
  top: 5px;
  left: 100px;
  z-index: -10;
}

#gameContainer {
  float: left;
  margin-left: 10px;
  width: 800px;
  height: 480px;
  border: 1px solid #DDD;
}

#status {
  margin: 0;
  float: left;
  width: 250px;
  border-left: none;
  border-top: 1px solid #AAA;
  border-right: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
  min-height: 480px;
}

#status .status-title {
 margin: 0;
 width: 100%;
 background-color: #111133;
 border-bottom: 1px solid #AAA;
 font-size: 12px;
}

#status h3 {
  margin: 0;
  padding: none;
  margin-left: 35px;
  padding-top: 3px;
  padding-bottom: 3px;

}

#status ul {
  margin-left: 10px;
  padding: 0;
}

#status li {
  list-style-type: none;
  margin-left: 1px;
}


#chat {
  margin-left: 10px;
  float: none; 
  clear: both;
  width: 1051px;
  height: 200px;
  border-left: 1px solid #AAA;
  border-top: none;
  border-right: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}

#chat-content {
  height: 170px;
  overflow: auto;
}

.chat-event {
  font-size: 10px;
  color: #55F;
  text-decoration: italic;
  margin-left: 2px;
}

.chat-line {
  clear: left;
  float: left;
  width: 800px;
 font-size: 12px;
}

.chat-line-author {
  margin-left: 2px;
  border-right: 1px dotted #AAA;
  padding-right: 2px;
}

.chat-line-me {
  color: #F55;
}

.chat-line-content {
  margin-left: 5px;
}

#chat input[type=text] {
  float: left;
  margin: none;
  padding: none;
  width: 1000px;
  height: 30px;
  font-size: 24px;
}


#chat input[type=button] {
  float: left;
  margin: none; 
  padding: none;
  width: 50px;
  height: 30px;
  font-size: 10px;
}

#copyright {
  margin-top: 5px;  
  font-size: 12px;
  clear: both;
  float: none;
}

#game {
  border: none;
  background-color: #111;
}

h4 {
  margin-left: 20px;
}

li.current-player {
  color: #F55;
  text-decoration: bold;
}

#header h1 {
  font-size: 36px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

h1 {
  margin: 0;
}

div.break {
  clear: both;
}

#email-disclaimer { 
  display: block;
  float: none;
  clear: both;
  font-size: 12px;
  margin: 2px;
}

#user-feedback {
  margin-left: 20px;
  background-color: #552222;
  width: 950px;
  padding-top: 1px;
  padding-bottom: 1px;
  display: none;
}

#user-feedback p{
  margin-top: 2px;
  margin-bottom: 2px;
}

#register {
  margin-left: 20px;
  margin-top: 20px;
  width: 440px;
  height: 360px;
  float: left;
  background-color: #002244;
  border: 2px solid #BBB;
}

#login {
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px 20px 20px;
  width: 440px;
  height: 200px;
  background-color: #002244;
  border: 2px solid #BBB;
}

#login input[type=text] 
{
  font-size: 32px;
  height: 38px;
}

#login input[type=button] 
{
  margin-top: 5px;
  font-size: 28px;
  height: 36px;
  float: right;
  margin-right: 30px;
}



table.stats {
  font-size: 24px;
}

table.stats td {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 1px;
  padding-bottom: 1px;
}


p.guest {
  font-size: 28px;

}

